@font-face {
    font-family: 'logofont';
    src: url(../fonts/Marones-EaZEW.ttf);
}

.fontecdb{
    font-family: 'logofont';
}

body {
    font-size: 100%;
  }

#fonteclara{
    color: white;
}

#TituloModal{
    font-family: 'logofont';
    font-size: 2.5em;
    color: white;
    
}

.linknav{
    font-size: 1.3em;
}

.divisor{
    width: 1px;
    background: rgba(255, 255, 255, 0.4);
    margin: 12px 10px;
}

.divisorinvisivel{
    width: 1px;
    margin: 12px 6px;
}

.semborda{
    border: 0;
}

.botaoentrar{
    padding: 2px 40px;
    border-radius: 5px;
    margin-left: 45px;
}

.botaoinput{
    border-radius: 70px;
    padding: 2px 80px;
}

#navbar-preta{   
    background-color: rgba(0, 0, 0, 0.9);
}

.brand{
    color:  rgba(255, 255, 255, 0.6); 
    text-decoration:none;
    font-family: 'logofont';
    font-size: 2.75em;
    transition: 0.4s;
}

.brand:hover{
    color: white;
}